<div class="row">
<div class="one column year_label"><h2>2024</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20240805-summer-Cape+May,+NJ.jpg" alt="Summer Gradient 2024-08-05 Cape May, NJ.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2023</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20231215-autumn-College+Park,+MD.jpg" alt="Autumn Gradient 2023-12-15 College Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20230817-summer-Prague,+CZ.jpg" alt="Summer Gradient 2023-08-17 Prague, CZ.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20231123-autumn-Boston,+MA.jpg" alt="Autumn Gradient 2023-11-23 Boston, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20231026-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2023-10-26 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20230705-summer-Dennis,+MA.jpg" alt="Summer Gradient 2023-07-05 Dennis, MA.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2022</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20220228-winter-Takoma-Park,+MD.jpg" alt="Winter Gradient 2022-02-28 Takoma"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20221126-autumn-Brookline,+MA.jpg" alt="Autumn Gradient 2022-11-26 Brookline, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20221110-autumn-Bethesda,+MD.jpg" alt="Autumn Gradient 2022-11-10 Bethesda, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20220114-winter-Treme,+LA.jpg" alt="Winter Gradient 2022-01-14 Treme, LA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20221227-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2022-12-27 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20220819-summer-Takoma-Park,+MD.jpg" alt="Summer Gradient 2022-08-19 Takoma"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20221201-autumn-Silver+Spring,+MD.jpg" alt="Autumn Gradient 2022-12-01 Silver Spring, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2021</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20211119-autumn-Metro+Center,+DC.jpg" alt="Autumn Gradient 2021-11-19 Metro Center, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20211021-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2021-10-21 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210320-spring-Shaw,+DC.jpg" alt="Spring Gradient 2021-03-20 Shaw, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210622-summer-Nashville,+TN.jpg" alt="Summer Gradient 2021-06-22 Nashville, TN.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210501-spring-Hyattsville,+MD.jpg" alt="Spring Gradient 2021-05-01 Hyattsville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210109-winter-Tenleytown,+DC.jpg" alt="Winter Gradient 2021-01-09 Tenleytown, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210919-summer-Williamsburg,+VA.jpg" alt="Summer Gradient 2021-09-19 Williamsburg, VA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210618-spring-Asheville,+NC.jpg" alt="Spring Gradient 2021-06-18 Asheville, NC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210924-autumn-Foggy+Bottom+DC.jpg" alt="Autumn Gradient 2021-09-24 Foggy Bottom DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210811-summer-Brewster,+MA.jpg" alt="Summer Gradient 2021-08-11 Brewster, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210902-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2021-09-02 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20211212-autumn-Kennedy+Center,+DC.jpg" alt="Autumn Gradient 2021-12-12 Kennedy Center, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210730-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2021-07-30 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20210713-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2021-07-13 Takoma Park, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2020</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200209-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2020-02-09 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200729-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2020-07-29 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200702-summer-Bethesda,+MD.jpg" alt="Summer Gradient 2020-07-02 Bethesda, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200804-summer-South+Dennis,+MA.jpg" alt="Summer Gradient 2020-08-04 South Dennis, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200202-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2020-02-02 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200411-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2020-04-11 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200515-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2020-05-15 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200818-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2020-08-18 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/201902025-winter-College+Park,+MD.jpg" alt="Winter Gradient 2020-07-08 College Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200504-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2020-05-04 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200304-winter-Thomas+Circle,+DC.jpg" alt="Winter Gradient 2020-03-04 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20201107-autumn-Cleveland+Park,+DC.jpg" alt="Autumn Gradient 2020-11-07 Cleveland Park, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200112-winter-Rockville,+MD.jpg" alt="Winter Gradient 2020-01-12 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200718-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2020-07-18 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200713-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2020-07-13 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200930-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2020-09-30 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200808-summer-Beaver+Cove,+ME.jpg" alt="Summer Gradient 2020-08-08 Beaver Cove, ME.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20201102-autumn-Silver+Spring,+MD.jpg" alt="Autumn Gradient 2020-11-02 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200326-spring-Hyattsville,+MD.jpg" alt="Spring Gradient 2020-03-26 Hyattsville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20200919-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2020-09-19 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20201229-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2020-12-29 Takoma Park, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2019</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190626-summer-Logan+Circle,+DC.jpg" alt="Summer Gradient 2019-06-26 Logan Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190920-summer-Metro+Center,+DC.jpg" alt="Summer Gradient 2019-09-20 Metro Center, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190810-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2019-08-10 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190322-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2019-03-22 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190630-summer-Laytonsville,MD.jpg" alt="Summer Gradient 2019-06-30 Laytonsville,MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20191015-autumn-College+Park,+MD.jpg" alt="Autumn Gradient 2019-10-15 College Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190830-summer-Bethany+Beach,+DE.jpg" alt="Summer Gradient 2019-08-30 Bethany Beach, DE.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190128-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2019-01-28 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190903-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2019-09-03 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190224-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2019-02-24 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190927-autumn-Brunswick,+ME.jpg" alt="Autumn Gradient 2019-09-27 Brunswick, ME.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190326-spring-Thomas+Circle,+DC.jpg" alt="Spring Gradient 2019-03-26 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190613-spring-Seville,+ES.jpg" alt="Spring Gradient 2019-06-13 Seville, ES.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190423-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2019-04-23 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190713-summer-Cary,+NC.jpg" alt="Summer Gradient 2019-07-13 Cary, NC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190525-spring-Southampton,+Bermuda.jpg" alt="Spring Gradient 2019-05-25 Southampton, Bermuda.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190617-spring-Barcelona,+ES.jpg" alt="Spring Gradient 2019-06-17 Barcelona, ES.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190604-spring-McPherson+Square,+DC.jpg" alt="Spring Gradient 2019-06-04 McPherson Square, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190316-winter-Cleveland+Park,+DC.jpg" alt="Winter Gradient 2019-03-16 Cleveland Park, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190621-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2019-06-21 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190531-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2019-05-31 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20191103-autumn-Poolesville,+MD.jpg" alt="Autumn Gradient 2019-11-03 Poolesville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190515-spring-Ellicott+City,+MD.jpg" alt="Spring Gradient 2019-05-15 Ellicott City, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190924-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2019-09-24 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190729-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2019-07-29 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190619-spring-Madrid,+ES.jpg" alt="Spring Gradient 2019-06-19 Madrid, ES.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20190410-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2019-04-10 Takoma Park, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2018</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20181030-autumn-Thomas+Circle,+DC.jpg" alt="Autumn Gradient 2018-10-30 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180324-spring-National+Mall,+DC.jpg" alt="Spring Gradient 2018-03-24 National Mall, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180412-spring-Forest+Glen,+MD.jpg" alt="Spring Gradient 2018-04-12 Forest Glen, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180926-autumn-Thomas+Circle,+DC.jpg" alt="Autumn Gradient 2018-09-26 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20181019-autumn-Thomas+Circle,+DC.jpg" alt="Autumn Gradient 2018-10-19 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180203-winter-Tenleytown,+DC.jpg" alt="Winter Gradient 2018-02-03 Tenleytown, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180809-summer-Stone+Harbor,+NJ.jpg" alt="Summer Gradient 2018-08-09 Stone Harbor, NJ.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180930-autumn-Rockville,+MD.jpg" alt="Autumn Gradient 2018-09-30 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180113-winter-National+Mall,+DC.jpg" alt="Winter Gradient 2018-01-13 National Mall, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180822-summer-Highland+Park,+NJ.jpg" alt="Summer Gradient 2018-08-22 Highland Park, NJ.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180826-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2018-08-26 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180902-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2018-09-02 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180227-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2018-02-27 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180823-summer-Brooklyn,+NY.jpg" alt="Summer Gradient 2018-08-23 Brooklyn, NY.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180508-spring-Thomas+Circle,+DC.jpg" alt="Spring Gradient 2018-05-08 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20181023-autumn-Bethesda,+MD.jpg" alt="Autumn Gradient 2018-10-23 Bethesda, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180706-summer-Montreal,+QC.jpg" alt="Summer Gradient 2018-07-06 Montreal, QC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180418-spring-Thomas+Circle,+DC.jpg" alt="Spring Gradient 2018-04-18 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180624-summer-Berkeley+Springs,+WV.jpg" alt="Summer Gradient 2018-06-24 Berkeley Springs, WV.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20181111-autumn-Rockville,+MD.jpg" alt="Autumn Gradient 2018-11-11 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20181230-winter-Pittsburgh,+PA.jpg" alt="Winter Gradient 2018-12-30 Pittsburgh, PA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180107-winter-Wheaton,+MD.jpg" alt="Winter Gradient 2018-01-07 Wheaton, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180126-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2018-01-26 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20181218-winter-Thomas+Circle,+DC.jpg" alt="Winter Gradient 2018-12-18 Thomas Circle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180213-winter-Bethesda,+MD.jpg" alt="Winter Gradient 2018-02-13 Bethesda, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180709-summer-Tenleytown,+DC.jpg" alt="Summer Gradient 2018-07-09 Tenleytown, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20180728-summer-Adelphi,+MD.jpg" alt="Summer Gradient 2018-07-28 Adelphi, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2017</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170130-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2017-01-30 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20171031-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2017-10-31 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170519-spring-Midtown+NYC.jpg" alt="Spring Gradient 2017-05-19 Midtown NYC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170702-summer-Brewster,+MA.jpg" alt="Summer Gradient 2017-07-02 Brewster, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170213-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2017-02-13 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170509-spring-College+Park,+MD.jpg" alt="Spring Gradient 2017-05-09 College Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170703-summer-Centerville,+MA.jpg" alt="Summer Gradient 2017-07-03 Centerville, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170308-winter-Kensington,+MD.jpg" alt="Winter Gradient 2017-03-08 Kensington, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170417-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2017-04-17 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20171019-autumn-Foggy+Bottom,+DC.jpg" alt="Autumn Gradient 2017-10-19 Foggy Bottom, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170813-summer-Southwest+Harbor,+ME.jpg" alt="Summer Gradient 2017-08-13 Southwest Harbor, ME.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170621-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2017-06-21 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170323-spring-Takoma+Park,MD.jpg" alt="Spring Gradient 2017-03-23 Takoma Park,MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170928-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2017-09-28 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20171231-winter-Miami,+FL.jpg" alt="Winter Gradient 2017-12-31 Miami, FL.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170503-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2017-05-03 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170108-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2017-01-08 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170601-spring-Silver+Spring,+MD.jpg" alt="Spring Gradient 2017-06-01 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20171002-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2017-10-02 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170515-spring-Foggy+Bottom,+DC.jpg" alt="Spring Gradient 2017-05-15 Foggy Bottom, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170703-summer-Brewster,+MA.jpg" alt="Summer Gradient 2017-07-03 Brewster, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170101-winter-Bennington,+VT.jpg" alt="Winter Gradient 2017-01-01 Bennington, VT.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170610-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2017-06-10 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170603-spring-Silver+Spring,+MD.jpg" alt="Spring Gradient 2017-06-03 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170709-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2017-07-09 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170220-winter-McHenry,+MD.jpg" alt="Winter Gradient 2017-02-20 McHenry, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170705-summer-Somerville,+MA.jpg" alt="Summer Gradient 2017-07-05 Somerville, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170918-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2017-09-18 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170418-spring-College+Park,+MD.jpg" alt="Spring Gradient 2017-04-18 College Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170223-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2017-02-23 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170809-summer-Hampton+Beach,+NH.jpg" alt="Summer Gradient 2017-08-09 Hampton Beach, NH.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170719-summer-Bethesda,+MD.jpg" alt="Summer Gradient 2017-07-19 Bethesda, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170804-summer-Minneapolis,+MN.jpg" alt="Summer Gradient 2017-08-04 Minneapolis, MN.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170924-autumn-Wheaton,+MD.jpg" alt="Autumn Gradient 2017-09-24 Wheaton, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170908-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2017-09-08 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170904-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2017-09-04 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20170302-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2017-03-02 Takoma Park, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2016</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160723-summer-National+Mall,+DC.jpg" alt="Summer Gradient 2016-07-23 National Mall, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160416-spring-Ashburn,+VA.jpg" alt="Spring Gradient 2016-04-16 Ashburn, VA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160318-winter-Rockville,+MD.jpg" alt="Winter Gradient 2016-03-18 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161111-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2016-11-11 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160810-summer-Ballard,+WA.jpg" alt="Summer Gradient 2016-08-10 Ballard, WA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160608-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-06-08 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160606-spring-Farragut+Square,+DC.jpg" alt="Spring Gradient 2016-06-06 Farragut Square, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160520-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-05-20 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160411-spring-Washington,+DC.jpg" alt="Spring Gradient 2016-04-11 Washington, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160228-winter-Wheaton,+MD.jpg" alt="Winter Gradient 2016-02-28 Wheaton, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160822-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2016-08-22 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160502-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-05-02 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160102-winter-Hillandale,+MD.jpg" alt="Winter Gradient 2016-01-02 Hillandale, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161201-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2016-12-01 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160922-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2016-09-22 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161009-autumn-Silver+Spring,+MD.jpg" alt="Autumn Gradient 2016-10-09 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160827-summer-Swampoodle,+DC.jpg" alt="Summer Gradient 2016-08-27 Swampoodle, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160202-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2016-02-02 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160326-spring-Lancaster,+PA.jpg" alt="Spring Gradient 2016-03-26 Lancaster, PA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160214-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2016-02-14 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160803-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2016-08-03 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160906-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2016-09-06 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160316-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2016-03-16 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160729-summer-Fenwick+Island,+DE.jpg" alt="Summer Gradient 2016-07-29 Fenwick Island, DE.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160403-spring-Governors+Run,+MD.jpg" alt="Spring Gradient 2016-04-03 Governors Run, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160622-summer-Columbia,+MD.jpg" alt="Summer Gradient 2016-06-22 Columbia, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160301-spring-Rockville,+MD.jpg" alt="Spring Gradient 2016-03-01 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160507-spring-Cleveland+Park,+DC.jpg" alt="Spring Gradient 2016-05-07 Cleveland Park, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161015-autumn-Bethesda,+MD.jpg" alt="Autumn Gradient 2016-10-15 Bethesda, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160311-winter-Denver,+CO.jpg" alt="Winter Gradient 2016-03-11 Denver, CO.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160709-summer-Alexandria,+VA.jpg" alt="Summer Gradient 2016-07-09 Alexandria, VA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160402-spring-Governors+Run,+MD.jpg" alt="Spring Gradient 2016-04-02 Governors Run, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160216-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2016-02-16 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160124-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2016-01-24 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161222-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2016-12-22 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160912-summer-Wheaton,+MD.jpg" alt="Summer Gradient 2016-09-12 Wheaton, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160329-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-03-29 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160405-spring-Rockville,+MD.jpg" alt="Spring Gradient 2016-04-05 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161212-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2016-12-12 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160524-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-05-24 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160424-spring-Silver+Spring,+MD.jpg" alt="Spring Gradient 2016-04-24 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160811-summer-Paradise,+WA.jpg" alt="Summer Gradient 2016-08-11 Paradise, WA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161028-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2016-10-28 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160324-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-03-24 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160617-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-06-17 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160601-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-06-01 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160807-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2016-08-07 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160309-winter-Denver,+CO.jpg" alt="Winter Gradient 2016-03-09 Denver, CO.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160205-winter-Rockville,+MD.jpg" alt="Winter Gradient 2016-02-05 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20161227-winter-Trumbull,+CT.jpg" alt="Winter Gradient 2016-12-27 Trumbull, CT.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160412-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2016-04-12 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20160515-spring-Wheaton,+MD.jpg" alt="Spring Gradient 2016-05-15 Wheaton, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2015</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150315-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2015-03-15 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150911-summer-Rockville,+MD.jpg" alt="Summer Gradient 2015-09-11 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151018-autumn-Waldorf,+MD.jpg" alt="Autumn Gradient 2015-10-18 Waldorf, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150110-winter-Chillum,+MD.jpg" alt="Winter Gradient 2015-01-10 Chillum, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150421-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2015-04-21 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151006-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2015-10-06 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151020-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2015-10-20 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150416-spring-Takoma+Park,+MD.jpg" alt="Spring Gradient 2015-04-16 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151011-autumn-Wheaton,+MD.jpg" alt="Autumn Gradient 2015-10-11 Wheaton, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150115-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2015-01-15 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151104-autumn-Shepherd+Park,+DC.jpg" alt="Autumn Gradient 2015-11-04 Shepherd Park, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151030-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2015-10-30 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150220-winter-Takoma+Park,+MD.jpg" alt="Winter Gradient 2015-02-20 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150514-spring-Washington,+DC.jpg" alt="Spring Gradient 2015-05-14 Washington, DC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20150429-spring-Manhattan,+NY.jpg" alt="Spring Gradient 2015-04-29 Manhattan, NY.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20151124-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2015-11-24 Takoma Park, MD.jpg"/>
</div>
</div>
</div>

<div class="row">
<div class="one column year_label"><h2>2014</h2></div>
<div class="eleven columns images">
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140807-summer-Hyannis,+MA.jpg" alt="Summer Gradient 2014-08-07 Hyannis, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140806-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-08-06 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141215-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-12-15 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140829-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2014-08-29 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140927-autumn-Key+Biscayne,+FL.jpg" alt="Autumn Gradient 2014-09-27 Key Biscayne, FL.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141121-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-11-21 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140909-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-09-09 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140705-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2014-07-05 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140826-summer-Silver+Spring,+MD.jpg" alt="Summer Gradient 2014-08-26 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140918-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-09-18 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140626-summer-Quebec+City,+QC.jpg" alt="Summer Gradient 2014-06-26 Quebec City, QC.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140726-summer-Rockville,+MD.jpg" alt="Summer Gradient 2014-07-26 Rockville, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140810-summer-Yarmouth,+MA.jpg" alt="Summer Gradient 2014-08-10 Yarmouth, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140819-summer-Hyannis,+MA.jpg" alt="Summer Gradient 2014-08-19 Hyannis, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140814-summer-Stellwagen+Bank.jpg" alt="Summer Gradient 2014-08-14 Stellwagen Bank.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140810-summer-Hyannis,+MA.jpg" alt="Summer Gradient 2014-08-10 Hyannis, MA.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141004-autumn-Silver+Spring,+MD.jpg" alt="Autumn Gradient 2014-10-04 Silver Spring, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141130-autumn-Sugarloaf+Mountain,+MD.jpg" alt="Autumn Gradient 2014-11-30 Sugarloaf Mountain, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141019-autumn-Elk+Neck+State+Park,+MD.jpg" alt="Autumn Gradient 2014-10-19 Elk Neck State Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140901-summer-Takoma+Park,+MD.jpg" alt="Summer Gradient 2014-09-01 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140929-autumn-Miami,+FL.jpg" alt="Autumn Gradient 2014-09-29 Miami, FL.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141110-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-11-10 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20140922-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-09-22 Takoma Park, MD.jpg"/>
</div>
<div class="img_box">
<img class="gradient-thumbnail" src="static/images/projects/sky-gradients/20141210-autumn-Takoma+Park,+MD.jpg" alt="Autumn Gradient 2014-12-10 Takoma Park, MD.jpg"/>
</div>
</div>
</div>

