:root {
    --compact-line-height: 1.2em;
    --compact-list-height: 1.3em;
    --dt-time-font-size: 0.9em
}

#avatar img {
    max-height: 200px;
    width: auto;
}

@media(max-width:835px) {
    section.avatar img {
        display: none;
    }
}

#employment dl {
    row-gap: 1em;
}

@media (max-width: 550px) {
    /* Get rid of resume indented style on mobile */
    dl {
        display: block;
    }

    dt {
        display: block;
        margin-left: 0;
        text-align: left;
        --dt-time-font-size: 1.1em;

        border-right: 0px;
        width: 100%;
    }

    dd {
        display:block;
        margin-left: 0;
    }
}

div.job {
    line-height: 1.4;
}

ul.job-projects {
    margin-top: 10px;
    margin-bottom: 0px;
}

dd.job {
    line-height: var(--compact-line-height, 1.2);
}

p {
    line-height: var(--compact-line-height, 1.2);
    margin-bottom: 10px;
}
