:root {
    --job-dt-top-padding: 1em;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 2mm 2mm 2mm 2mm;  
} 

body  
{ 
    /* this affects the margin on the content before sending to printer */ 
    margin: 0px;  
} 

main a:link {
    color: black;
    border: 0;
}

main a:visited {
    color: black;
}

h1 {
    margin-bottom: 0.5rem;
    font-size: 36pt;
}

h2 {
    break-before: avoid;
    font-size: 18pt;
}

ul {
    margin-bottom: 0.5rem;
}

body {
    font-size: 1.25em !important;
    line-height: var(--compact-line-height);
}

/*    .column, .columns {
        width: 100% !important;
        margin-left: 0% !important;
        page-break-inside: avoid;
    } */

ul.job-projects li {
    margin-bottom: 0;
    font-size: 80%;
    line-height: var(--compact-list-height);
}

ul.job-projects {
    margin-top: 10px;
}

#contact-list {
    margin-left: 0;
}

#contact-list ul li {
    display: inline;
    padding: 0;
}

#contact-list li:before {
    content: "";
    padding: 0;
    margin-left: 1px
}

#contact-list li:not(:first-child):before {
    content: " | ";
}

.no-print, .no-print * {
    display: none !important;
}

/* dt:not(:first-child) {
    padding-top: var(--job-dt-top-padding);
}

dd:not(:first-child) {
    padding-top: var(--job-dt-top-padding);
} */