:root {
    --job-dt-top-padding: 1em;
    --compact-line-height: 1.1em;
    --compact-list-height: 1.0em;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 2mm 2mm 2mm 2mm;  
} 

body  
{ 
    /* this affects the margin on the content before sending to printer */ 
    margin: 0px;  
    font-size: 1.2em !important;
    line-height: var(--compact-line-height);
}

main a:link {
    color: black;
    border: 0;
}

main a:visited {
    color: black;
}

.job-times {
    color: var(--dt-text-color);
    /* font-size: var(--dt-time-font-size); */
    float: right;
}

h1 {
    margin-bottom: 0.5rem;
    font-size: 36pt;
}

h2 {
    break-before: avoid;
    font-size: 18pt;
}

ul {
    margin-bottom: 0.5rem;
}

dt {
    /* width: 54px; */
    display: none;
}

dd {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    line-height: var(--compact-line-height) !important;
}

#skills {
}

#skills section { 
    display: grid;
    grid-template-columns: 5.5em auto;
    text-align: left;
    vertical-align: top;
    width: 100%;
    margin-left: 0;

    line-height: var(--compact-list-height);
    font-size: 1.0em !important;
}

#skills h3 {
    display: inline;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0em !important;
    text-align: left;
    grid-column-start: 1;
    font-weight: bold;
    line-height: var(--compact-line-height) !important;
    padding-left: 1em;
    vertical-align: top;
    /* margin-top: -0.2rem;
    vertical-align: bottom; */

}

#skills h3:after {
    content: ": ";
}

#skills ul {
    display: inline;
    vertical-align: top;
    grid-column-start: 2;
    margin-bottom: 5px;
    grid-column-start: 2;
    line-height: var(--compact-list-height);
    padding-right: 6em;
}

#skills ul li {
    display: inline;
    padding-left: 0;
    line-height: var(--compact-list-height);
}

#skills ul li:before {
    content: none;
}

#skills ul li:before {
    content: none;
}

#skills ul li:not(:first-child):before {
    content: "·";
}




/*    .column, .columns {
        width: 100% !important;
        margin-left: 0% !important;
        page-break-inside: avoid;
    } */

ul.job-projects li {
    margin-bottom: 0;
    line-height: var(--compact-line-height);
}

ul.job-projects {
    margin-top: 10px;
}

#contact-list {
    margin-left: 0;
}

#contact-list ul li {
    display: inline;
    padding: 0;
}

#contact-list li:before {
    content: none;
    padding: 0;
    margin-left: 1px
}

#contact-list li:not(:first-child):before {
    content: " · ";
}

.no-print, .no-print * {
    display: none !important;
}

#education {
    margin-bottom: 0;
    border-bottom: 0;
}

/* dt:not(:first-child) {
    padding-top: var(--job-dt-top-padding);
}

dd:not(:first-child) {
    padding-top: var(--job-dt-top-padding);
} */