h1 {
    break-before: avoid;
}

#contact-list {
    padding-left: 0px;
    margin-left: 0;
}

#contact-list li {
    line-height: var(--compact-list-height);
    margin-bottom: 0;
}

.print-only {
    display: none;
}


