<section class="row">
  <h2>Employment</h2>

  <dl>
  {% for job in site.data.cv.career %}
    <dt><time>{{ job.start }} - {{ job.end }}</time></dt>
    <dd>
      <header>
      <strong>{{ job.title }}</strong>, <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <a href="{{ job.link }}" itemprop="url"><span itemprop="name">{{ job.company }}</span></a>
      </header>

      <span>{{ job.description }}
        {% if job.projects.size > 0 %}
        Notable projects:
        <ul>
          {% for project in job.projects %}
          <li><strong><a href="{{ project.link }}">{{ project.title }}</a></strong> {{ project.description | markdownify | remove: '<p>' | remove: '</p>' }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </span>
    </dd>
    {% endfor %}
  </dl>
</section>
