<section class="row">
  <section class="three columns no-print">
    <img src="static/avatar.jpg" height="200" width="200" />
  </section>

      <h1>{{ site.data.cv.personal.name }}</h1>

    <section class="three columns contact-list">
    <ul>
      <li><a href="mailto:{{ site.data.cv.personal.email }}">{{ site.data.cv.personal.email }}</a></li>
      <li><a href="{{ site.data.cv.personal.site }}">{{ site.data.cv.personal.site }}</a></li>
      <li>{{ site.data.cv.personal.phone }}</li>
      <li>{{ site.data.cv.personal.city }}</li>
    </ul>
    </section>
    <section class="five columns no-print">
    <ul>
      <li><a href="https://github.com/{{ site.data.cv.personal.accounts.github }}">github/{{ site.data.cv.personal.accounts.github }}</a></li>
      <li><a href="https://bsky.app/profile/{{ site.data.cv.personal.accounts.bluesky }}">bluesky/{{ site.data.cv.personal.accounts.bluesky }}</a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.data.cv.personal.accounts.linkedin }}">linkedin/{{ site.data.cv.personal.accounts.linkedin }}</a></li>
      <li><a href="https://keybase.io/{{ site.data.cv.personal.accounts.keybase }}">keybase/{{ site.data.cv.personal.accounts.keybase }}</a></li>
    </ul>
    </section>
</section>
