:root {
    --compact-line-height: 1.2em;
    --compact-list-height: 1.3em;
    --dt-time-font-size: 0.9em
}

/* Display Lists */
dl {
    display: grid;
    grid-template-columns: max-content auto;
    margin-block-start: 0rem;
}

dt {
    grid-column-start: 1;
    color: #626262;
    font-size: var(--dt-time-font-size);
    text-transform: none;
    width: 80px;
    text-align: right;
    border-right: 1px solid #dfdfdf;
    padding-right: 9px;
}
  
dd {
    grid-column-start: 2;
    margin-left: 9px;
}

/* List treatment */
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    padding-left: 1em;
    text-indent: -0.7em;
    line-height: var(--compact-list-height);
}
  
ul li:before {
    content: "›";
    padding-right: 5px;
    margin-bottom: 0;
}

ul.compact {
    margin-bottom: 0.5rem;
}

ul.compact li {
    line-height: var(--compact-list-height);
    margin-bottom: 0;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.4rem;
}

h3:before {
    content: "›";
    padding-right: 5px;
}

h1 { font-size: 3.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.2rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.7rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.9rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.3rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }

/* Navbar */
.navbar {
    margin-top: 20px;
    padding-bottom: 10px;
}
.navbar {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.navbar span.time {
    font-size: 2.4rem;
    font-weight: 500;
    color: darkgray
}

.navbar a {
    color: black;
}

.navbar .fa a {
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    background-color: #575757;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Image Float Markdown Hack */
img[alt$=">"] {
    float: right;
    padding-left: 10px;
}
  
img[alt$="<"] {
    float: left;
    padding-right: 10px;
}
  
img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}

/* footnotes */
div.footnotes p {
    display: inline;
    line-height: var(--compact-line-height);
    margin-bottom: 0;
}