:root {
    --compact-line-height: 1.2em;
    --compact-list-height: 1.3em;
    --dt-time-font-size: 0.9em
}

#avatar img {
    max-height: 200px;
    width: auto;
}

@media(max-width:829px) {
    section.avatar img {
        display: none;
    }
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

#employment dl {
    row-gap: 1em;
}

dt {
    grid-column-start: 1;
    color: #626262;
    font-size: var(--dt-time-font-size);
    text-transform: none;
    width: 80px;
    text-align: right;
    border-right: 1px solid #dfdfdf;
    padding-right: 9px;
}
  
dd {
    grid-column-start: 2;
    margin-left: 9px;
}

/* dt {
    float: left;
    display: block;
    /* left: 0; 
    color: #626262;
    font-size: var(--dt-time-font-size);
    text-transform: none;
    max-width: 80px;
    text-align: right;
}

dd {
    border-left: 1px solid #dfdfdf;
    float: left;
    display: block;
    padding-left: 9px;
    width: auto;
    margin-left: 86px;
    /*margin: 0 0 -15px 86px;
    padding: 0 0 0 9px; 
} 

dt { clear: both; } */

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


div.job {
    line-height: 1.4;
}

ul.job-projects {
    margin-top: 10px;
    margin-bottom: 0px;
}

li {
  padding-left: 1em;
  text-indent: -0.7em;
  line-height: var(--compact-list-height);
}

li:before {
  content: "›";
  padding-right: 5px;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.4rem;
}

dl {
    margin-block-start: 0rem;
}

dd.job {
    line-height: var(--compact-line-height, 1.2);
}

p {
    line-height: var(--compact-line-height, 1.2);
    margin-bottom: 10px;
}

ul.compact {
    margin-bottom: 0.5rem;
}

ul.compact li {
    line-height: var(--compact-list-height);
    margin-bottom: 0;
}
