:root {
    --gradient-gallery-gap: 4px;
    --gradient-gallery-items-per-row: 1;
    --gradient-img-width: 200px;
}

.gradient-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: top;
  gap: var(--gradient-gallery-gap);
}

.gradient-gallery__item {
    aspect-ratio: 1;
    margin: 0;
    flex: 0 0 var(--gradient-img-width);
}

/* .gradient-gallery::after {
  content: "";
  flex-grow: 999;
} */

.gradient-gallery__item img {
  object-fit: cover;
  margin: 0;
}


/* Larger than mobile */
@media (min-width: 400px) {
  .gradient-gallery {
    --gallery-items-per-row: 2;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .gradient-gallery {
    --gallery-items-per-row: 2;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .gradient-gallery {
    --gallery-items-per-row: 3;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .gradient-gallery {
    --gallery-items-per-row: 4;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .gradient-gallery {
    --gallery-items-per-row: 4;
  }
}

.gradient-gallery__item {
    line-height: 0;
}

.year_label h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
}
