<section class="row" id="header">
  <section class="four columns no-print" id="avatar">
    <img src="static/avatar.jpg" height="200" width="200" alt="A black-and-white photograph of the face of Jacob Harris"/>
  </section>

    <section class="eight columns" id="contact-list">
      <h1>{{ site.data.cv.personal.name }}</h1>
    <ul>
      <li><a href="mailto:{{ site.data.cv.personal.email }}">{{ site.data.cv.personal.email }}</a></li>
      <li><a href="{{ site.data.cv.personal.site }}">{{ site.data.cv.personal.site }}</a></li>
      <li>{{ site.data.cv.personal.phone }}</li>
    </ul>
    </section>
    </section>
  </section>
