h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

#writing-summary {
    font-weight: bolder;
    font-style: italic;
}

footer {
    margin-top: 0.5em;
    border-top: 1px solid var(--dt-border-color);
    text-align: left;
    font-style: italic;
}

main a[href^="http"]:after {
    display: inline;
    content: " ";
    font-family: FontAwesome;
    font-size: 80%;
    text-decoration: none !important;
    color: black;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}