h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

#writing-summary {
    font-weight: bolder;
    font-style: italic;
}

a {
    color: slateblue;
}

footer {
    margin-top: 0.5em;
    border-top: 1px solid var(--dt-border-color);
    text-align: left;
    font-style: italic;
}
