<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{ site.data.cv.personal.name }}</title>
    <meta name="description" content="{{ site.data.cv.personal.name }}'s Résumé">
    <meta name="author" content="{{ site.data.cv.personal.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <!-- link rel="stylesheet" href="static/css/screen.css" media="screen" -->
    <link rel="stylesheet" href="static/css/print.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <p/>
  <div class="container">

    {{ content }}

  <footer class="twelve columns">
  </footer>
  </div>
</body>
</html>
