<!DOCTYPE html>
<html lang="en-US">
{% seo %}
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/base_layout.css">
    <link rel="stylesheet" href="/static/css/writing/layout.css">

    <link rel="stylesheet" href="/static/css/projects/gradients.css">
    <link rel="stylesheet" href="/static/css/projects/lightbox.css">

    <script src="/static/js/lightbox-plus-jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div id="writing_header" class="row">
        <div class="navbar twelve columns">
            {% if page.publisher %}
              <div><a href="/"><i class="fa fa-home" aria-hidden="true" alt="Home"></i></a> / {{page.title | markdownify | improve | remove: '<p>' | remove: '</p>' }} <span class="time">(<em><a href="{{ page.pub_permalink }}">{{ page.publisher }}</a></em>, {{ page.date | date: "%m/%d/%Y" }})</span></div>
            {% else %}
               <div><a href="/"><i class="fa fa-home" aria-hidden="true" alt="Home"></i></a> / {{page.title | markdownify | improve | remove: '<p>' | remove: '</p>' }} <span class="time">({{ page.date | date: "%m/%d/%Y" }})</span></div>         
            {% endif %}
        </div>
    </div>

    {% if page.description or page.display_description %}
    <div id="writing-summary" class="row">
      <div class="twelve columns">
        {% if page.display_description %}
          {{ page.display_description | smartify | markdownify | improve }}
        {% else %}
          {{ page.description | smartify | markdownify | improve }}
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row">
      <main>
        <section class="twelve columns" id="content">
            {{ content | improve }}
        </section>
      </main>
    </div>

    <footer>Questions? Corrections? Want me to write for you? Other feedback? Please reach out to <a href="mailto:mail@jacobharr.is">mail@jacobharr.is</a> or jacobharris.28 on Signal. Thanks!</footer>
  </div>
</body>
</html>